!!!
%html
  %head
    %title= page_title

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    //= favicon_link_tag
  %body
    = render 'layouts/header'
    .content
       %p.notice= notice
       %p.alert= alert
      = yield
    = render 'layouts/footer'
    = render 'layouts/ga'

